* {
  margin: 0;
  padding: 0;
}
#wrap {
  width: 1200px;
}
header {
  background-color: pink;
  height: 50px;
  font-size: 30px;
  text-align: center;
}
nav {
  background-color: lightseagreen;
}
ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-right: 50px;
}
aside {
  float: left;
  background-color: rgb(158, 128, 240);
  width: 100px;
  height: 600px;
}
.aside2 {
  float: right;
}
main {
  /* float: right; */
  background-color: lightcoral;
  width: 1100px;
  height: 600px;
}
footer {
  clear: both;
  background-color: lightblue;
}
